node_modules/
.env
*.db
.DS_Store
backend/node_modules/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk

# iOS
ios/TrackMonkApp.xcodeproj/xcuserdata/
ios/TrackMonkApp.xcodeproj/project.xcworkspace/xcuserdata/

# Frontend build artifacts
frontend/trackmonk.apk
